---
- name: Install tailscale repository
  ansible.builtin.command:
    cmd: "dnf config-manager addrepo --from-repofile={{ tailscale_repo_file_url }}"
    creates: /etc/yum.repos.d/tailscale.repo

- name: Install tailscale
  ansible.builtin.dnf:
    name: tailscale
    state: present
    update_cache: true

- name: Make sure tailscaled service is started and enabled
  ansible.builtin.systemd_service:
    name: tailscaled
    state: started
    enabled: true
  ignore_errors: yes # ignore systemd issues in containers